{% extends "layouts/base.html" %}

{% block title %} Home {% endblock title %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- <section class="clean-block clean-hero" style="background-image: url('/static/assets/img/tech/blfm.jpg') center, var(--bs-secondary-color);margin-bottom: 61px;padding-bottom: 0px;margin-top: -134px;padding-top: 141px;">
        <div class="text">
            <h2>Blacksburg Farmers Market</h2>
        </div>
    </section>
    <section class="clean-block clean-info dark" style="background: #1e599d;"></section> -->
    
        <section class="clean-block clean-hero" style="color: rgba(9,162,255,0.45);background: url(&quot;/static/assets/img/tech/blfm.jpg&quot;) center, var(--bs-secondary-color);margin-bottom: 61px;padding-bottom: 0px;margin-top: -134px;padding-top: 141px;">
            <div class="text">
                <h2></h2>
            </div>
        </section>
        <!-- <section class="clean-block clean-info dark" style="background: #1e599d;"></section> -->
    

{% endblock content %}
<!-- color: #09a2ff73; -->