{% extends 'layouts/base2.html' %}

{% block content %}

<div class="block-heading" style="position: relative; padding: 20px; left: 25%; text-align: left;">
  <h1 class="fw-bold mb-2">Log Outcome</h1>
  <div>
    <a href="/welcome" style="color: black; text-decoration: none; margin-right: 10px;">All > </a>
    <a href="/OutcomesTable" style="color: black; text-decoration: none; margin-right: 10px;">Manage Outcomes and Responses > </a>
    <a href="/LogOutcome" class="fw-bold" style="color: black; text-decoration: none;">Log Outcome</a>
  </div>
</div>



<div class="container" style="position: relative; padding: 20px; width: 40%; height: auto; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); background-color: #D3D3D3; margin-left: 25%;">
  <form method="POST" action="/logoutcome" id="recallForm">
    
    <!-- Need to make the response id autofill from violation responses screen -->
    <div style="margin-bottom: 20px;">
        <div style="display: flex; align-items: center;">
          <div style="flex: 1; margin-right: 10px;">
            <label for="recallnumber" style="display: block; margin-bottom: 5px;">Response ID</label>

            {% for responseid in responses %}
              <input type="text" name="responseid[]" value="{{ responseid }}">
            {% endfor %}
            <!-- <select class="form-input" value="{{ responseid }}" type="text" name="responseid"
              style="border-radius: 5px; height: 40px; width: 100%; border-color: #222d64;" placeholder="">
              <option value="" disabled selected hidden>Please select...</option>
              {% for x in outcomes %}
                <option value="{{ responseid }}">{{ x.responseid }}</option>
              {% endfor %}
            </select> -->
          </div>
          <div style="flex: 1;">
            <label for="type" style="display: block; margin-bottom: 5px;">Outcome ID</label>
            <select class="form-input" value="{{ outcomeid }}" type="text" name="outcomeid"
              style="border-radius: 5px; height: 40px; width: 100%; border-color: #222d64;" placeholder="">
              <option value="" disabled selected hidden>Please select...</option>
              {% for x in outcomes %}
                <option value="{{ x.OutcomeID }}">{{ x.OutcomeID }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

    <div style="margin-bottom: 20px;">
        <label for="pname" style="display: block; margin-bottom: 5px;">Decision</label>
        <select class="form-input" value="{{ decision }}" type="text" name="decision"
          style="border-radius: 5px; height: 40px; width: 200%; max-width: 450px; border-color: #222d64; margin-right: 10px;" placeholder="">
          <option value="" disabled selected hidden>Please select...</option>
          {% for x in outcomes %}
            <option value="{{ x.Decision }}">{{ x.Decision }}</option>
          {% endfor %}
        </select>
    </div>

    <div style="margin-bottom: 20px;">
        <label for="pname" style="display: block; margin-bottom: 5px;">Investigator Name</label>
        <select class="form-input" value="{{ name }}" type="text" name="name"
          style="border-radius: 5px; height: 40px; width: 200%; max-width: 450px; border-color: #222d64; margin-right: 10px;" placeholder="">
          <option value="" disabled selected hidden>Please select...</option>
          {% for x in outcomes %}
            <option value="{{ x.Investigator }}">{{ x.Investigator }}</option>
          {% endfor %}
        </select>
    </div>


    <!-- Submit button positioned outside of the input fields -->
    <div style="text-align: right;">
      <button type="submit" class="btn btn-primary" style="background-color: #222d64; color: white;">Add</button>
    </div>

  </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-message"
  style="position: fixed; bottom: -40px; left: 50%; transform: translateX(-50%); z-index: 999;">
  <div class="alert alert-info" role="alert">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endwith %}

{% endblock content %}
