{% extends 'layouts/base2.html' %}

{% block content %}

<div class="block-heading" style="position: relative; padding: 20px; left: 25%; text-align: left;">
  <h1 class="fw-bold mb-2">Add Recall</h1>
  <div>
    <a href="/welcome" style="color: black; text-decoration: none; margin-right: 10px;">All > </a>
    <a href="/recalls" style="color: black; text-decoration: none; margin-right: 10px;">Recall List > </a>
    <a href="/addrecalls" class="fw-bold" style="color: black; text-decoration: none;">Add Recall</a>
  </div>
</div>

<br>

<div class="container" style="position: relative; padding: 20px; width: 40%; height: auto; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); background-color: #D3D3D3; margin-left: 25%;">
  <form method="POST" action="/test" id="recallForm">
    
    <div style="margin-bottom: 20px;">
      <label for="pname" style="display: block; margin-bottom: 5px;">Product Name</label>
      <div style="display: flex; align-items: center;">
        <select class="form-input" value="{{ pname }}" type="text" name="pname"
          style="border-radius: 5px; height: 40px; width: 100%; max-width: 250px; border-color: #222d64; margin-right: 10px;" placeholder="Select Product Name">
          <option value="" disabled selected hidden>Please select...</option>
          {% for product in products %}
            <option value="{{ product.ProductID }}">{{ product.ProductName }}</option>
          {% endfor %}
        </select>
        <button type="button" id="newProductButton" class="btn btn-primary" style="height: 40px;">+ Add New Product</button>
      </div>
    </div>

    <div style="margin-bottom: 20px;">
      <label for="type" style="display: block; margin-bottom: 5px;">Recall Type</label>
      <select class="form-input" value="{{ type }}" type="text" name="type"
        style="border-radius: 5px; height: 40px; width: 100%; max-width: 450px; border-color: #222d64;" placeholder="Enter Recall Type">
        <option value="" disabled selected hidden>Please select...</option>
        <option value="Safety Hazard">Safety Hazard</option>
        <option value="Fire Hazard">Fire Hazard</option>
        <option value="Injury Hazard">Injury Hazard</option>
      </select>
    </div>

    <div style="margin-bottom: 20px;">
      <label for="recallnumber" style="display: block; margin-bottom: 5px;">Recall Number</label>
      <input class="form-input" type="number" value="{{ recallnumber }}" name="recallnumber"
        style="border-radius: 5px; height: 40px; width: 100%; max-width: 450px; border-color: #222d64;" placeholder="Enter Recall ID">
    </div>

    <div style="margin-bottom: 20px;">
      <label for="remedy" style="display: block; margin-bottom: 5px;">Recall Remedy</label>
      <input class="form-input" type="text" value="{{ remedy }}" name="remedy"
        style="border-radius: 5px; height: 60px; width: 100%; max-width: 450px; border-color: #222d64;" placeholder="Enter Recall Remedy">
    </div>

    <!-- Submit button positioned outside of the input fields -->
    <div style="text-align: right;">
      <button type="submit" class="btn btn-primary" style="background-color: #222d64; color: white;">Add</button>
    </div>

  </form>
</div>

<!-- <script>
  document.getElementById('newProductButton').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent form submission
    window.location.href = 'newproduct'; // Redirect to new product page
  });
</script> -->

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-message"
  style="position: fixed; bottom: -40px; left: 50%; transform: translateX(-50%); z-index: 999;">
  <div class="alert alert-info" role="alert">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endwith %}

{% endblock content %}
