
{% extends "layouts/recallsbase.html" %}

{% block content %}



    <div class="container">
        <div class="block-heading d-flex justify-content-between align-items-center">
            <div>
                <h1 class="fw-bold mb-2" >Recalls</h1>
                <a href="/welcomemanager" style="color: black; text-decoration: none;">All > </a>
                <a href="/recalls" class="fw-bold" style="color: black; text-decoration: none;">Recalls List</a>
            </div>
            <br>
            <div>
                <button onclick="window.location.href = 'reports';" class="btn btn-primary me-2">View Report</button>
                <button  onclick="window.location.href = 'addrecalls';"class="btn btn-primary" >+</button>
            </div>
        </div>

        
        <table class="table table-bordered">
            <thead class="table-dark">
                    <tr> 
                        <th scope="col">Recall ID</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Recall Type</th>
                        <th scope="col">Recall Date and Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in recall %}
                        <tr>
                            <td>{{ x.RecallID }}</td>
                            <td>{{ x.ProductID }}</td>
                            <td>{{ x.RecallType }}</td>
                            <td>{{ x.RecallDateTime }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

    
   
        
        
    {% endblock content %}
