{% extends 'layouts/base2.html' %}

{% block content %}

<div class="block-heading" style="position: relative; padding: 20px; left: 25%; text-align: left;">
  <h1 class="fw-bold mb-2">Update Listing Status</h1>
  <div>
    <a href="/welcomeinvestigator" style="color: black; text-decoration: none; margin-right: 10px;">All > </a>
    <a href="/marketlistings" style="color: black; text-decoration: none; margin-right: 10px;">Market Listings > </a>
    <a href="/updatestatus" class="fw-bold" style="color: black; text-decoration: none;">Update Status</a>
  </div>
</div>

<div class="container" style="position: relative; padding: 20px; width: 40%; height: auto; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); background-color: #D3D3D3; margin-left: 25%;">
  <form method="POST" action="{{ url_for('process_update_status') }}">
    <div style="margin-bottom: 20px;">
      <label for="violationType" style="display: block; margin-bottom: 5px;">Select Violation Type:</label>
      <select id="violationType" name="violationType" style="border-radius: 5px; height: 40px; width: 100%; max-width: 450px; border-color: #222d64;" required>
        <option value="">Select a violation type...</option>
        {% for type in violation_types %}
        <option value="{{ type.ViolationType }}">{{ type.ViolationType }}</option>
        {% endfor %}
      </select>
    </div>

    <div style="text-align: right;">
      <button type="submit" class="btn btn-primary" style="background-color: #222d64; color: white;">Submit</button>
    </div>
  </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-message" style="position: fixed; bottom: -40px; left: 50%; transform: translateX(-50%); z-index: 999;">
  <div class="alert alert-info" role="alert">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endwith %}

{% endblock content %}